# Introducción a Python 
### by Rafa Caballero 

# 1 Valores, variables, operadores, funciones predefinidas


Puedes usar el siguiente índice para saltar a la sección adecuado


**Índice**

[Introducción](#Introduction)

[Hello World](#Hello-World)

[Variables](#Variables)

[Tipos en Python](#Tipos-en-Python)

[Instrucciones](#Instrucciones)

[Operadores](#Operadores)<br>
  &emsp;[Operadores aritméticos](#Operadores-aritméticos)<br>
  &emsp;[Operadores relacionales](#Operadores-relacionales)<br>
  &emsp;[Operadores booleanos](#Operadores-booleanos)<br>
  &emsp;[Operadores de bit](#Operadores-de-bit)<br>

[Importación de bibliotecas](#Importación-de-bibliotecas)

[Funciones predefinidas](#Funciones-predefinidas-de-conversión-de-tipos)<br>
  &emsp;[Conversión entre bases](#Conversión-entre-bases)<br>
  &emsp;[Conversión entre tipos](#Conversión-entre-tipos)<br>
  &emsp;[Funciones predefinidas aritméticas](#Funciones-predefinidas-aritméticas)

<a name="Introduction"></a>
## Introducción


#### Presentación
**Python** es un lenguaje de propósito general. Creado por  Guido Van Rossum alrededor 1989, se ha convertido en uno de los lenguajes favoritos para la llamada *ciencia de datos*.

Estos notebooks presentan algunos aspectos básicos del lenguaje. Están orientados a estudiantes que no precisan conocimientos previos de programación y solo muestran los aspectos básicos del lenguaje que necesitaremos en nuestro curso. Esto implica que dejaremos fuera aspectos muy importantes del lenguaje como la programación orientada a objetos, el desarrollo de módulos, etc. Sin embargo aprender todo esto debe resultar sencillo si se completa el curso.

#### Versiones
Desafartudamente, un malhadado día de 2008, Python se dividió en dos dialectos coincidiendo con la salida de la versión 3 del lenguaje. El problema era que la nueva versión no era compatible *hacia atrás*, es decir con las versiones anteriores y en particular con la 2, por lo que los numeros existens programas escritos en Python 2.X no correrían necesariamente en entornos Python 3.x (ni viceversa, pero esto es más usual). La situación fue a peor cuando Python 2.X continuó evolucionando por su cuenta, conviertiéndose en una rama diferente del lenguaje. 

En todo caso estos tiempos oscuros están acabando y las versiones 3.x son las más utilizadas. En estos notebooks utilizaremos las versiones más recientes de Python (3), y esta historia se menciona porque aun puedes encontrar muchos libros y recursos que utilizan la sintaxis 2.x.

En cuento a los entorno de ejecución hay muchas posibilidades. Este curso emplea los *Jupyter notebooks*, un proyecto basedo en el formato JSON que permite combinar "celdas" de texto formateado con otras de código (código en Python en nuestro caso pero también hay Jupyter notebooks por ejemplo para R). 

Para cargar uno de los notebooks puedes utilizar por ejemplo [Google Colaboratory](https://colab.research.google.com/) (un servicio online para ejecutar Python) que nos evita descargar nada de software. Si en cambio prefieres ejecutar el código offline puedes instalar, por ejemplo, [Anaconda](https://www.anaconda.com/).


#### Recursos
Estas notas toman ideas y ejemplos de otros libros y recursos online que merece la pena menionar, no solo para darles el merecido crédito, sino porque pueden ser utilizados como material complementario (o sustitutorio):

* [https://www.python.org/](https://www.python.org/)   La referencia básica de Python. Incluye tutoriales y una ayuda muy detalladas.


* [The Python tutorial](https://docs.python.org/3/tutorial/index.html "The Python tutorial"). "La" referencia. Debo confesar que no es mi preferido para aprender (demasiado detallado y poco didáctico), pero sin duda se trata de una referencia muy completa.


* *Learning with Python How to Think Like a Computer Scientist*. Una buena introducción a Python con la perspectiva de un científico de datos.


* *Python for Kids*:  Un libro para niños tan bien escrito que puede ser utilizado por adultos.

<a name="Hello-World"></a>
## Hello World

En los libros y tutoriales de programación subsiste la inveterada costumbre de que el primer programa sea uno que tan solo escriba "hello world". No podemos por menos que respetar tan venerable tradicición:

In [ ]:
# Presionar el botón >| Run para ejecutar este código
print("Hello World")

Hello World

Aquí `print` es una *función predefinida* que recibe un *parámetro*: La cadena decaracteres que debe mostras. Las cadenas de caracteres o *strings* deben aparecer entre comillas, simples o dobles, a elegir. Eso sí, recuerda ser consistente para abrir y cerrar con el mismo símbolo. 

Disponer de estas posibilidades es interesante si queremos incluir comillas dentro del mensaje:

In [ ]:
print('She said: "Hi Bertold!" and smiled at me')

She said: "Hi Bertold!" and smiled at me

`print` no solo es capaz de mostrar strings sino también otros tipos como números:

In [ ]:
print(42)

42

O variables, de las que hablaremos más adelante

In [ ]:
x=50000000000000000000000000000
print(x+1)

50000000000000000000000000001

Juguemos un poco ¿qué le sucede a este código?

In [ ]:
# poner nuestro código por aquí debajo y dar Run para ver el resultado
print(tururu)

NameError: name 'tururu' is not defined

print puede mostrar más de un valor

In [ ]:
print("Tengo ",18,"años")

Tengo  18 años

entre cada dos argumentos print escribe un espacio. El carácter de separación se puede cambiar con el parámetro `sep`

In [ ]:
print("Tengo",18,"años",sep="-")

Tengo-18-años

Además, print siempre escribe un fin de línea tras cada print:

In [ ]:
print("Hola")
print("Mundo")

Hola
Mundo

De nuevo este comportamiento por defecto se puede cambiar si utilizamos el parámetro `end`

In [ ]:
print("Hola",end=" ")
print("Mundo")

Hola Mundo

<a name="Variables"></a>
## Variables

En los lenguajes de programación los valores a menudo se almacenan en "cajas" a las que llamamos *variables*. Cada "caja" tiene:

- Un nombre (podemos elegir el nombre que queramos siempre que respetemos la reglas para definir identificadores y no sea una palabra reservada (ver [aquí](https://www.programiz.com/python-programming/keywords-identifier) la definición de ambos términos)

- Un valor.

- Un tipo: entero, string, etc.

A nivel físico una variable se puede pensar como un fragmento de memoria que contiene un valor y tienen un nombre asociado.

Ejemplos:

In [ ]:
x = 2
y = 1.2
s = 'if you torture the data long enough, it will confess'

Estas instrucciones Python crean 3 variables
* Una variable con nombre  x, valor 2
* Una variable con nombre y, valor 1.2
* Una variable con nombre xy, con valor *'if you torture the data long enough, it will confess to anything'*. 

Aparentemente no hacen nada, pero algo ha cambiado: la memoria contiene 3 nuevas variables que podemos utilizar

In [ ]:
print(x+y,s,x*y)

3.2 if you torture the data long enough, it will confess 2.4

**NOTAS** 
 

*   Las variables seguirán teniendo sus valores mientras sigamos con el notebook
*   Si en algún momento queremos reiniciar el notebook completo podemos hacerlo en *Entorno de Ejecución* + *Reiniciar entorno de ejecución*



Como muestra el ejemplo, es posible mezclar variables y constantes en el mismo print

In [ ]:
x=18
print("Mi edad es ",x,"¿cúal es la tuya?")

Mi edad es  18 ¿cúal es la tuya?

En ocasiones veremos esta otra notación:

In [ ]:
print(f"Mi edad es {x} ¿cúal es la tuya?")

Mi edad es 18 ¿cúal es la tuya?

Aquí la f al comienzo indica que es una cadena con formato, lo que significa que cada vez que se encuentre un carácter *{* tendrá que interpretar lo que venga a continuación como si se hubieran cerrado las comillas y puesto una coma


**Ejercicio** Escribir un código que declare una variable `nombre` que contenga nuestro nombre, y luego muestre con print "Hola, soy X", donde X es el contenido de esta variable

In [ ]:
# Solución
nombre="sara"
print(f"Yo soy {nombre}")

Yo soy sara

<a name="Tipos-en-Python"></a>
## Tipos en Python

En Python, **todo valor tiene un tipo**, es decir pertenece a un conjunto predefinido de valores.
Decimos que se trata de un lenguaje con tipos, o un lenguaje tipado.

Sin embargo, a diferencia de otros lenguajes como C, C++, C# o Java, en Python no se declaran los tipos explícitamente, los deduce el sistema.

Esto es una comodidad, pero no debe hacernos olvidar que los tipos existen. En concreto, en Python, tenemos:

* *Tipos numéricos*: int, float, complex 
* *Tipo cierto/falso*: bool
* *Tipo carácter*: chr
* *Tipos secuencia*: list, tuple, range
* *Tipo secuencia de caracteres*: str
* *Conjuntos*: set
* *Maps*: dict
* *Programación funcional*: funciones lambda
* *Programación orientada a objetos*: Clases, objetos
* *Tipos secuencia de binarios*: bytes, bytearray, memoryview

In [ ]:
x = 2
y = 1.2
s = 'if you torture the data long enough, it will confess'


print(4,type(4))
print(4.0,type(4.0))
print(True,type(True))
print(x,type(x))
print(s,type(s))

**Ejercicio 2** Intentar adivinar el tipo de la siguiente expresión antes de ejecutar el código

In [ ]:
print(type(3+4.1))

<class 'float'>

#### Tuplas (introducción)

se le puede dar valor a varias variables simultáneamente:

In [ ]:
x = y = 1

In [ ]:
print(x,y)

1 1

Otra forma de hacer lo mismo

In [ ]:
x,y = 1,3
print(x,y)

1 3

Esta notación es en realidad una forma abreviada de escribir una *tupla*, una de las estructuras de las que dispone Python para agregar elementos.

La forma no abreviada:

In [ ]:
z = (x,y) = (1,"hola")
print(z,type(z))

(1, 'hola') <class 'tuple'>

Nótese que las tuplas permiten tener elementos ordenados agregados. Otras formas son los strings y las listas. Los tres tipos, strings, listas y tuplas constituyen las *secuencias de Python*

###### Ejercicio 3. *¿Cómo declarar en una sola línea dos variables x,y haciendo que la primera tome el valor 1 y la segunda el valor 2?*

In [ ]:
# escribir aquí la solución
x,y=1,2
print(x,y)

1 2

###### Ejercicio 4. ¿Qué hará el siguiente código?  (para probarlo quitar el símbolo de comentario #)

In [ ]:
x = y = 5
x += 1
y = y+x-2
print(x,y)

6 9

<a name="Instrucciones"></a>
## Instrucciones

Como hemos visto, Python ejecuta instrucciones en secuencia, de arriba hacia abajo. Cada instrucción ocupa en principio una línea:

In [ ]:
x=3
y=4
print(x+y)

7

Sin embargo, en ocasiones, queremos que una instrucción ocupe más de una línea, por legilibidad

In [ ]:
a = 1 + 2 + 3 +
4 + 5 + 6 + 
7 + 8 + 9

SyntaxError: invalid syntax (3102485702.py, line 1)

Para solucionar esto hay varias formas. Una es usar el marcador '\\' para indicar que se continua por la línea de abajo

In [ ]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9

También se pueden usar paréntesis, en este caso Python asume que la línea siguiente forma parte de la misma instrucción

In [ ]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)

<a name="Operadores"></a>
## Operadores

<a name="Operadores-aritméticos"></a>
### Operadores aritméticos

Una lista de los operadores aritméticos más comunes (que posteriormente ampliaremos con las bibliotecas math, numpy y pandas)

| Símbolo | Función |
|----|---|
| +  | suma |
| -  | resta |
| /  | división |
| %  | módulo |
| *  | multiplicación |
| //  | división entera |
| **  | Potencia |

Una operación muy común es incrementar una variable:

In [ ]:
x=0
x = x+1

Python admite una forma abreviada:

In [ ]:
x +=1

En cambio, y a diferencia de otros lenguajes, no admite la notación x++ para incrementar en uno. 

Una ventaja con respecto a otros lenguajes es que se pueden hacer operaciones con enteros de precisión arbitraria:

In [ ]:
1+2000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
200000000-1

In [ ]:
1*2

**Ejercicio 5** Explicar el comportamiento en cada caso

In [ ]:
1/2

In [3]:
p=1/2.0
print(p)

0.5

In [5]:
1//2

0

In [4]:
15%10

5

En el caso de trabajar con números reales también se puede obtener el resultado de truncar el resultado de la división

In [6]:
1.9//1.0

1.0

<a name="Operadores-relacionales"></a>
### Operadores relacionales

Son operadores que pueden devolver los valores True (cierto) o False (falso). En programación estos valores son básicos para permitir la toma de decisiones y van a jugar un papel fundamental en el tratamiento de datos permitiéndonos elegir, por ejemplo, a los elementos que cumplen una cierta propiedad 

En programación llamamos a estos valores (True,False) *valores booleanos* o *valores lógicos*

| Operador | Significado |
|----|---|
| == | True, si los dos operandos son iguales, False e.o.c. |
| !=  | True, si los dos operandos son diferente, False e.o.c. |
| < | menor |
| > | mayor  |
| <=  | menor o igual  |
| >=  | mayor o igual |

Es fundamental distinguir entre el operador de asignación =, que da valor a una variable, y el operador de comparación == que indica si dos valores son iguales o no

In [2]:
z = 1
print(z)

1

In [ ]:
z == 2

In [1]:
z = 1
print(z==2,type(z==2))

False <class 'bool'>

In [7]:
z > 1

False

Una propiedad muy interesante de los booleanos es que se convierten automáticamente en enteros. False se convierte en 0, y True en 1

In [8]:
(z==1)+1

2

**Ejercicio 6** ¿Para qué valores de x devolverá True la siguiente (extraña) expresión?

In [9]:
x=4
(x>3)+(x!=7)>1

True

Es necesario advertir que esta expresión extraña es poco o nada común, y que solo la incluídmos para entender un tipo de lógica que emplearemos más adelante en la gestión de datos.

**Ejercicio 7** (difícil, curiosidad) escribir una expresión que le asigne a la variable z el mayor valor entre x e y utilizando solo lo visto hasta ahora <br>
Pista: (x>y) vale True, o lo que es lo mismo 1, si x es mayor que y

In [ ]:
x = 50
y = 30

z = x * (x > y) + y * (y >= x)

print(z)

<a name="Operadores-booleanos"></a>
### Operadores booleanos

Sean x e y dos variables booleanas (tienen True o False), podemos combinar sus valores con los operadores

| Símbolo | Significado |
|----|---|
| x and y  | Conjunción: si x es True, entonces y, si no  False |
| x or y  | disyunción lógica: si x es False, entonces y, si no True |
| not(x)  | si x es True false, en otro caso True |

In [10]:
x=10
y=1
(x>5) and (y>5)

False

El `and` se evalúa a True si los dos valores se evalúan a True Una característica interesante es que si el valor más a la izquierda es False ya no se mira el segundo valor, el resultado es Falso sin más. Esto será útil para evitar casos como el siguiente:

In [11]:
x=0
3/x > 5

ZeroDivisionError: division by zero

In [12]:
(x!=0) and (3/x > 5)

False

In [13]:
x=5
y=3
w = x>y and x!=6
print(w)

True

Un ejemplo del uso de `not`

In [14]:
num_vidas = 9
tiempo = 9
vivo= num_vidas>0 and tiempo>0

#muerto = num_vidas <= 0 or tiempo <= 0
muerto = not(vivo)

**Ejercicio 8**  (curioso) El operador lógico binario or-exclusivo (XOR) está definido como sigue: 

    True xor True  --> False
    True xor False --> True
    False xor True --> True
    False xor False --> False
    
Por desgracia no existe en Python. ¿Qué expresión podemos escribir que simule el valor de xor?

In [20]:
A = False
B = False
# lo que se ponga tiene que vale para cualquier valor booleano de A y B
AxorB = A!=B 
print(AxorB)

False

<a name="Operadores-de-bit"></a>
### Operadores de bit

En principio no tienen nada que ver con nuestro tema; se trata de representar valores ccomo números binarios y hacer el and, el or o cualquier otra operación bit a bit

| Símbolo | Significado |
|----|---|
| &  | Conjunción lógica de bits|
| l  | disyunción lógica de bits|
| ^  | XOR de bits |
| ~  | negación |
| >>  | desplazamiento a la derecha |
| <<  | desplazamiento a la izquierda |

In [ ]:
a = 2 #10
b = 3 #11

In [21]:
print(a | b)
print(bin(a&b))

NameError: name 'a' is not defined

Sin embargo más adelante sí les veremos utilidad.

El segundo tipo de operaciones, los desplazamientos, sí que no tienen nada que 
ver con nuestro tema y solos los incluimos por "completitud".

In [22]:
5 >> 1

2

0000 0101 -> 5 

El desplazamiento hacia la derecha introduce ceros por la izquierda

0000 0010 -> 2

In [ ]:
5 << 1

<a name="Importación-de-bibliotecas"></a>
## Importación de bibliotecas

Una de las razones del éxito de Python es la gran cantidad de *bibliotecas* que contienen funciones útiles. Estas bibliotecas ( o módulos, como se denominan en Python) se pueden instalar desde una consola (una consola de Anaconda si estamos en este sistema)

 
    pip install modulo


o, si no tenemos permiso para instalar para todos los usuarios

    pip install --user  modulo
    
En algunos sistemas puede que en lugar de *pip* tengamos que utilizar *pip3*.

El siguiente ejemplo importa (hace visible al programa) los módulos random y math

In [23]:
import random
import math


for i in range(5):
    print(random.randint(1, 25))

print(math.pi)

2
20
24
7
25
3.141592653589793

Lo de escribir 

        random.randint 

todo el tiempo puede resultar molesto. Si queremos usar solo randint podemos poner:

In [ ]:
from random import randint
from math import pi


for i in range(5):
    print(randint(1, 25))

print(pi)

Una última posibilidad es renombrar para utilizar nombres más cortos. El siguiente ejemplo (que no hace falta entender completamente) utiliza esta posibilidad para dibujar gráficos de barras

In [ ]:
#%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt

N = 5
hombre_means = (20, 35, 30, 35, 27)
hombre_std = (2, 3, 4, 1, 2)
mujer_means = (25, 32, 34, 20, 25)
mujer_std = (3, 5, 2, 3, 3)

ind = np.arange(N)  # posición de cada grupo
print('ind',ind)
width = 0.35       # anchura de las barras

fig, ax = plt.subplots()
rects1 = ax.bar(ind, hombre_means, width, color='r', yerr=hombre_std)

rects2 = ax.bar(ind + width, mujer_means, width, color='y', yerr=mujer_std)

# etiquetas, título, marcas en los ejes
ax.set_ylabel('Puntuaciones')
ax.set_title('Puntuaciones por grupo y género')
ax.set_xticks(ind + width / 2)
ax.set_xticklabels(('G1', 'G2', 'G3', 'G4', 'G5'))

ax.legend((rects1[0], rects2[0]), ('Hombres', 'Mujeres'))
plt.show()

<a name="Funciones-predefinidas-de-conversión-de-tipos"></a>
## Funciones predefinidas de conversión de tipos

Las funciones, como *print*, agrupan fragmentos de código con un propósito concreto bajo cierto nombre. Para añadir flexibilidad, pueden recibir valores de entrada y devolver valores de salida. Algunas funciones ya están predefinidas en el sistema, pero el usuario también puede definir sus propias funciones, como veremos en otro cuaderno.

Python incluye numerosas funciones predefinidas para convertir de un tipo a otro. Veamos algunas de ellas.

| Función | Significado |
|----|---|
| 0xV  | Convierte el número hexadecimal V en entero |
| hex(x)  | convierte x a su representación hexadecimal, como cadena |
| 0oV  | Convierte el número octal V en entero |
| oct(x)  | convierte x a su representación octal, como cadena |
| 0b  | Convierte el número binario V en entero |
| bin(x)  | convierte x a su representación binaria, como cadena |
| int(x,b)  | Convierte a base 10 el número representado en base b en el string x|
| int(x)  | Convierte el número real x en su parte entera |
| int(x)  | Convierte el string x en un entero |

<a name="Conversión-entre-bases"></a>
### Conversión entre bases

Python considera que un número está escrito en hexadecimal anteponiendo el prefijo **0x**. También se puede convertir un entero en hexadecimal utilizando la función **hex( )**. Ojo porque esta función devuelve el valor  hexadecimal, pero como una cadena de caracteres.

In [24]:
hex(1714)

'0x6b2'

In [25]:
0x6B2

1714

Para representar un valor en octal antepondremos el prefijo **0o**  al valor octal. 

Viceversa, la función **oct( )** permite convertir un valor decimal en octal, pero representado como caracteres.

In [ ]:
oct(8)

In [ ]:
0o10

En el caso de números binarios podemos utilizar el prefijo 0b y la función bin()

In [ ]:
0b01111

In [ ]:
bin(15)

La función **int(x,b)** convierte a entero el número x, que es un string en base b

In [26]:
print(int('1010',8))
print(int('baba',16))
print(int('0xbaba',16))
print(int('1010',2))
print(int('bigdata',30))

520
47802
47802
10
8469720880

**Ejercicio 9** En matemáticas, decimos que f y g son funciones inversas si para todo valor x, se cumple que 

f(g(x)) == x 

y para todo valor y

g(f(y)) == y

¿Cual es la inversa de la función hex(x)? (para pensar, la respuesta no es trivial)

In [ ]:
x = 707258
y = '0xcaba'

# La inversa de hex es int con base 16
# f convierte hex string a int: int(s, 16)
# g convierte int a hex string: hex(x)

# Verificar f(g(x)) == x
print(f"f(g({x})) = int(hex({x}), 16) = {int(hex(x), 16)}")
print(f"¿f(g(x)) == x? {int(hex(x), 16) == x}")

# Verificar g(f(y)) == y
print(f"\ng(f('{y}')) = hex(int('{y}', 16)) = {hex(int(y, 16))}")
print(f"¿g(f(y)) == y? {hex(int(y, 16)) == y}")

In [ ]:
s= "123"
int(s) + 5

<a name="Conversión-entre-tipos"></a>
### Conversión entre tipos

La función predefinida **int( )** se puede convertir para convertir un número real en su parte entera, o para convertir un número entre comillas en su versión como entero (es decir, si no se pone segundo parámetro se asume implícitamente base 10). 

Para este último uso, conversión de *string* a *int*, disponemos también de una función inversa,  **str( )** que convierte un entero en string.

In [ ]:
print(int(7.7))
print(int('7'))

**Observaciones:** 

* A este tipo de funciones que pasan de un tipo a otro se conoce como *funciones de conversión de tipo*
*  Aunque generalmente no nos preocupamos de pensar en los tipos, el sistema comprueba que no mezclemos tipos diferentes en una misma expresión, y si lo hacemos obtendremos un error (a no ser que sea posible una *conversión automática de tipos*)

In [ ]:
x = '12'
# 3+x  # error!!!!
3 + int(x)

De manera similar, **float(x)**  convierte una cadena x en su representación como número real.

In [27]:
pi = '3.1415'
2*(float(pi))

6.283

**chr( )** se utiliza para convertir un entero a su equivalente alfabético, mientras que **ord( )** es su función inversa.

In [28]:
chr(98)

'b'

In [29]:
ord('b')

98

<a name="Funciones-predefinidas-aritméticas"></a>
### Funciones predefinidas aritméticas

**round( )** permite redondear un real a su valor entero más próximo. si se añade un segundo parámetro sirve para redondear al número de decimales indicado.

In [30]:
print(round(85.6231)) 
print(round(4.55892, 2))
print(int(85.6231))

86
4.56
85

**complex( )** se emplea para definir números complejos, mientras que **abs( )**  deuele el valor absoluto de un número entero/real o el módulo de un número complejo.

In [ ]:
c =complex('5+2j')
print(abs(c))
print(abs(-4.5))

**divmod(x,y)** devuelve tanto el cociente como el resto de una división. Para eso se utiliza una **tupla** con la forma (cociente, resto).

In [ ]:
divmod(9,2)

In [ ]:
cociente,resto = divmod(9,2)
print(cociente, resto, cociente*2+resto)

**isinstance(x,y )** es una función booleana es decir que devuelve True o False, según si x es de tipo y. Se pueden comprobar varias clases a la vez haciendo que el segundo argumento sea una tupla

In [ ]:
print(isinstance(1, int))
print(isinstance(1.0,int))
print(isinstance(1.0,(int,float)))

**pow(x,y,z)** se emplea para calcular $x^y$. Si se especifica el tercer argumento, z, el resultado es el módulo: ($x^y$ % z).

In [ ]:
print(pow(3,3))
print(pow(3,3,5))

La función **range( )** genera una secuencia de enteros dentro del rango indicado. Admite tres formatos, y es una función importante, que utilizaremos muy a menudo:
* Si solo recibe un argumento entero x devuelve los valores desde 0 hasta x-1.
* Si recibe dos argumentos x,y devuelve la secuencia de elementos que va desde x hasta y-1.
* Si recibe tres argumentos, x,y,z, devuelve los elementos desde x hasta y-1, pero saltando de z en z. 

El resultado es una lista, tipo que veremos en detalle más adelante.

In [ ]:
print(range(3))
print(range(2,9))
print(range(2,27,8))